body{
    border: 5px solid red;
}

.Homepage{
    background-color:#383838 ;
}


.navbar {
    background-color: #882c2c !important; 
}

.navbar .navbar-brand {
    color: #ffffff !important; 
}

.navbar .nav-link {
    color: #ffffff !important; 
}

.navbar .nav-link:hover {
    color: #ffd700 !important; 
}

.navbar .nav-item.dropdown .dropdown-menu {
    background-color: #000000; 
}

.navbar .dropdown-item {
    color: #ffffff; 
}

.navbar .dropdown-item:hover {
    background-color: #ffd700; 
    color: #000000; 
}

.navbar .navbar-toggler {
    background-color: #ffd700; 
}

.dropdown-divider {
    background-color: #ffffff; 
    height: 1px; 
    margin: 0.5rem 0; 
}


.hpslider{
    height: 474px;
}
.container overflow-hidden text-center{
    max-width:609px;
}
.Frame{
    max-width: 487px;
    max-height: 301px;
    border-radius: 10px;
}
.Title{
    max-height: 67px;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 800px;
    margin-left: 16px;
    margin-top: 26px;
    color: white;
}

.container overflow-hidden text-center{
    max-height: 961px;
}

.Grid{
    max-width: 575px;
    max-height: 330px;
    border-radius: 10px;
}

.mventes{
    max-height: 744px;
}