.Homepage{
    background-color:#383838 ;
}

body{
    border: 5px solid red;
}

/* app.css */
.navbar {
    background-color: #882c2c !important; /* Black background */
}

.navbar .navbar-brand {
    color: #ffffff !important; /* White brand text */
}

.navbar .nav-link {
    color: #ffffff !important; /* White nav links */
}

.navbar .nav-link:hover {
    color: #ffd700 !important; /* Gold color on hover */
}

.navbar .nav-item.dropdown .dropdown-menu {
    background-color: #000000; /* Black dropdown menu background */
}

.navbar .dropdown-item {
    color: #ffffff; /* White dropdown item text */
}

.navbar .dropdown-item:hover {
    background-color: #ffd700; /* Gold background on dropdown item hover */
    color: #000000; /* Black text color on hover */
}

.navbar .navbar-toggler {
    background-color: #ffd700; /* Gold color for the toggler button */
}

.dropdown-divider {
    background-color: #ffffff; /* White divider */
    height: 1px; /* Ensure it has height */
    margin: 0.5rem 0; /* Margin for spacing */
}


.hpslider{
    height: 474px;
}
.container overflow-hidden text-center{
    max-width:609px;
}
.Frame{
    max-width: 487px;
    max-height: 301px;
    border-radius: 10px;
}
.Title{
    max-height: 67px;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 800px;
    margin-left: 16px;
    margin-top: 26px;
    color: white;
}

.container overflow-hidden text-center{
    max-height: 961px;
}

.Grid{
    max-width: 575px;
    max-height: 330px;
    border-radius: 10px;
}

.mventes{
    max-height: 744px;
}